@model  Demo_EditTemplate.Models.Product
     <tr>
         <td>
            @Html.TextBoxFor(x => x.id)
         </td>
         <td>
            @Html.TextBoxFor(x => x.name)
         </td>
     </tr>
